// Windows resource file
#include <windows.h>
#include "version.h"

IDI_APPICON ICON "app.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     APP_VERSION_MAJOR, APP_VERSION_MINOR, APP_VERSION_PATCH, APP_VERSION_BUILD
PRODUCTVERSION  APP_VERSION_MAJOR, APP_VERSION_MINOR, APP_VERSION_PATCH, APP_VERSION_BUILD
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0x0L
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      APP_COMPANY_STR
            VALUE "FileDescription",  APP_DESCRIPTION_STR
            VALUE "FileVersion",      APP_VERSION_STR
            VALUE "InternalName",     APP_INTERNAL_NAME_STR
            VALUE "LegalCopyright",   APP_COPYRIGHT_STR
            VALUE "OriginalFilename", APP_FILENAME_STR
            VALUE "ProductName",      APP_PRODUCT_NAME_STR
            VALUE "ProductVersion",   APP_VERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04B0
    END
END
